# Ignore all
*
 
# Unignore all with extensions
!*.*
  
# Unignore all dirs
!*/

# NOTE: Ignore bin/ dir
*bin/
   
# Ignore vscode/
*.vscode/

# NOTE: Ignore zip file 
*.zip

### Above combination will ignore all files without extension ###

