# Ignore all
*
 
# Unignore all with extensions
!*.*
  
# Unignore all dirs
!*/
   
# Ignore vscode/
*.vscode/

# NOTE: Ignore zip file 
*.zip

### Above combination will ignore all files without extension ###

